@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Rammetto+One&display=swap');

.leftContent {
    max-width: 260px;
    padding: 24px;
    height: 100vh;
    color: #F6FAF9;
}

.sidebar {
    display: flex;
    background-color: #556A87;

}

.wrapper {
    width: 100%;
}

.logoText {
    font-family: "Rammetto One", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    
    
}

.globalCategories {
    margin: 30px 0;
}

.globalCategory {
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
    
    width: 212px;
    border-radius: 8px;
}

.globalCategory img {
    margin-right: 10px;
}

.globalCategory.active {
    background-color: #7A92AA;
}

.arrow {
    display: inline-block;
    margin-left: 10px; /* Отступ от текста */
    width: 10px; /* Установите размер стрелки */
    height: 10px; /* Установите размер стрелки */
    border: solid 2px #ffffff; /* Установите видимость стрелки */
    border-width: 0 2px 2px 0; /* Формируем стрелку */
    transform: rotate(45deg); /* Начальная позиция стрелки */
    transition: transform 0.3s ease; /* Плавная анимация */
}

.up {
    transform: rotate(-135deg); 
}

.openCategories {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    cursor: pointer; 
}
.meatCategory {
    display: flex;
    align-items: center;
    margin-top: 22px;
    font-weight: 600;
    user-select: none;
}

.quantity {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6FAF9;
    padding: 8px 12px;
    color: #232321;
    border-radius: 8px;
}

.header {
    width: fit-content;
    margin-left: auto;
    padding: 24px;
    display: flex;
    align-items: center;
    max-height: 96px;
}

.header input {
    font-size: 15px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-left: 10px;
    display: none;
}

.headerSearch.active {
    display: block;
}

.notificationsIcon {
    background-color: transparent;
    border: none;
    margin: 0 40px;
    cursor: pointer;
}

.adminBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #F6FAF9;
    padding: 20px;
    color: #F6FAF9;
    border-radius: 8px;
    background-image: none;
    cursor: pointer;
}

.adminBtn .arrow {
    margin-left: 8px;
}

.adminBtn:hover {
    background-size: unset;
}

.content {
    background-color: #3A465C;
    padding: 24px;
    height: 89%;
}

.topContent {
    display: flex;
    align-items: center;
}

.title {
    font-size: 24px;
    color: #F6FAF9;
}

.page {
    font-size: 16px;
    color: #F6FAF9;
    margin-top: 5px;
    transition: color .3s;
    text-decoration: none;
}

.page:hover {
    color: blue;
}

.minus {
    font-size: 20px;
    margin: 0 5px;
    color: #F6FAF9;
}

.addNewBtn {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #7A92AA;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #F6FAF9;
}


select {
    padding: 5px 20px 5px 10px; /* Add space inside the select */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    color: white;
    cursor: pointer;
}


#newProduct {
    color: #ff5733; /* Change to your desired color */
}

select > option {
    background-color: rgba(122, 146, 170, 0.8); /* Use rgba to control opacity */
}




.cards {
    margin-top: 24px;
    color: #F6FAF9;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.cards .flex {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.card {
    background-color: #0D111C;
    padding: 24px;
    border-radius: 16px;
    position: relative;
    width: calc(33% - 20px / 3);
}

.card img {
    margin-right: 16px;
}

.product {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 15px;
}

.dots {
    color: gray;
    position: absolute;
    font-size: 25px;
    right: 24px;
    top: 12px;
    background: none;
    border: none;
}

.description {
    margin-top: 16px;
    color: gray;
    font-size: 14px;
}

.sliderButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 100px;
}

.sliderButton {
    padding: 7px 16px;
    background-color: transparent;
    border: 1px solid #F6FAF9;
    color: #F6FAF9;
    cursor: pointer;
    border-radius: 8px;
    transition: all .5s;
    text-transform: uppercase;
}


.sliderButton:hover {
    background-color: blue;
    border: none;
}

.sliderButton ~ .sliderButton {
    margin-left: 16px;
}


.bannerImage{
    width: 100px;
    height: 50px;
}