
.backBtn {
    border: 2px solid #000000;
    background-color: transparent;
    border-radius: 12px;
    padding: 22px 50px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color .3s;
}

.backBtn:hover {
    background-color: orangered;
}

.oneItem {
    padding: 100px 50px;
}

.oneItem h1 {
    margin-left: 20%;
}

.pageNavigation {
    display: flex;
    align-items: center;
    margin: 25px 0 40px 0;
}

.minus {
    font-size: 17px;
    font-weight: normal;
    margin: 0 13px;
}

.page {
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color .3s;
}

.page:last-child {
    color: #000000D9;
}

.page:hover {
    color: orange;
}

.productInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.leftContent {
    margin-right: 75px;
}

.productImg {
    border-radius: 12px;
}

.price {
    font-size: 40px;
}

.sizeChoosing {
    margin: 60px 0;
}

.chooseSize {
    font-size: 20px;
}

.sizeOptions {
    display: flex;
    gap: 14px;
    margin-top: 34px;
    margin-bottom: 60px;
}

.sizeButton {
    padding: 15px 7px;
    border: 1px solid #000;
    background-color: #f0ead6;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sizeButton:hover {
    background-color: #e0d7c1;
}

.selected {
    background-color: #7c6f67;
    color: #fff;
}

.quantityWrapper {
    display: inline-flex;
    align-items: center;
}

.quantityInput {
    width: 69px;
    height: 69px;
    margin-right: 11px;
    text-align: center;
    border: 1px solid #000;
    background-color: #f0ead6;
    font-size: 16px;
    font-weight: bold;
}

.quantityInput:focus {
    background-color: #e0d7c1;
    outline: none;
}

.description {
    background-color: #F1EADC;
    border: 1px solid;
    border-radius: 12px;
    padding: 60px 75px;
    font-size: 20px;
}

.descTitle {
    margin-bottom: 20px;
    font-size: 25px;
}

@media (max-width: 1024px) {
    .sizeButton:hover,
    .backBtn:hover {
        background-color: transparent;
    }

    .page:hover {
        color: #000000D9;
    }

    .selected {
        color: orange;
    }

    .oneItem {
        padding: 100px 35px;
    }

    .oneItem h1 {
        margin-left: 0;
        margin-top: 150px;
    }

    .pageNavigation {
        margin: 25px 0 100px 0;
    }

    .productInfo {
        flex-direction: column;
        align-items: flex-start;
    }

    .leftContent {
        margin-right: 0;
        padding-bottom: 100px;
    }

    .productImg {
        width: 100%;
    }

    .rightContent {
        padding-bottom: 170px;
    }

    .description {
        font-size: 14px;
    }

    .descTitle {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    h1, .h1 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .oneItem {
        padding: 100px 35px;
    }

    .oneItem h1 {
        margin-left: 0;
        margin-top: 24px;
    }

    .pageNavigation {
        margin: 25px 0 32px 0;
    }

    .leftContent {
        padding-bottom: 24px;
    }

    .productImg {
        width: 100%;
    }

    .rightContent {
        padding-bottom: 32px;
    }

    .page {
        font-size: 14px;
    }

    .description {
        padding: 70px 35px;
    }

    .sizeChoosing {
        margin: 30px 0;
    }
}

@media (max-width: 425px) {
    .quantityWrapper button {
        font-size: 15px;
    }

    .quantityInput {
        width: 65px;
        height: 65px;
    }

    h1, .h1 {
        font-size: 24px;
    }

    .pageNavigation {
        flex-wrap: wrap;
    }
}

@media (max-width: 375px) {
    .description {
        font-size: 10px;
    }

    .descTitle {
        font-size: 18px;
    }

    .quantityWrapper button {
        padding: 15px 30px;
    }

    .quantityInput {
        width: 50px;
        height: 50px;
    }
}